/uebung01/LagerVerwaltung/nbproject/private/
/uebung01/LagerVerwaltung/build/
\uebung01\LagerVerwaltung\nbproject
/Klausur/nbproject/private/
/Klausur/build/
/OS-Lab05/nbproject/private/
/OS-Lab05/build/